<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
    <script src="/h/static/assets/static/js/jquery-min.js"></script>
     <script src="/h/static/assets/static/js/jquery-query.js"></script>
</head>
<body>
     <div class="aboutUs help-bg">
        <div class="help-content">
            <div class="detail">
            <h3 class="title">About <em data-site="siteName">{{$SiteName}}</em></h3>
            <div class="line"></div>
            <div class="text">
                <!--<img class="img" :src="img" alt="">-->
                <p><b>WHO WE ARE</b></p>
                    <em data-site="siteName">{{$SiteName}}</em> is a specialist international dating website that help expand your dating opportunities. We are here to gather people who dreams of meeting “one” person to build a delightful, meaningful and long-term relationship, whether in Asia, Latin America or Europe. Our team are committed to do our utmost best to make your search for true love fun and enjoyable.
                    <br><br>
                    <p><b>WHY <em data-site="siteName">{{$SiteName}}</em></b></p>
                    <em data-site="siteName">{{$SiteName}}</em> do our best to deliver trustworthy dating and are gathering people who believes in love and are ready to discover new people online. We understand, the perfect one for you may be located at the other end of the earth. Wherever that special person is, or why you want to meet them, our dedicated team are striving to help you find your reliable, attractive and considerate partners. 
                    <br>
                    <br>
                    We take the privacy and confidentiality of our clients very seriously and do everything possible to ensure protection of their personal and financial information. And we have rigorous verification procedure and take measures trying to prevent fraudsters on our platform, which supports large quantities of our members to start a credible relationship. 
                    <br>
                    <br>
                    On <em data-site="siteName">{{$SiteName}}</em>, you can benefit from those advanced Features:<br>
                    <img src="<%=require('../assets/image/aboutUs/duigou.png')%>" class="gou-icon">Recommend profiles match your favorite type<br>
                    <img src="<%=require('../assets/image/aboutUs/duigou.png')%>" class="gou-icon">Numerous excellent ladies are active online<br>
                    <img src="<%=require('../assets/image/aboutUs/duigou.png')%>" class="gou-icon">Chat with singles! Always high in response and invitation rate<br>
                    <img src="<%=require('../assets/image/aboutUs/duigou.png')%>" class="gou-icon">Browse photos and videos at ease, never ceases to amaze you<br>
                    <img src="<%=require('../assets/image/aboutUs/duigou.png')%>" class="gou-icon">Get closer by sharing gifts and melodies with someone who spark your interest.<br>
                    <img src="<%=require('../assets/image/aboutUs/duigou.png')%>" class="gou-icon">Contact list to ensure you never miss any friends<br>
                    <img src="<%=require('../assets/image/aboutUs/duigou.png')%>" class="gou-icon">Who views me, who likes me, and who pokes me, all in easy-to-view records<br>
                    <img src="<%=require('../assets/image/aboutUs/duigou.png')%>" class="gou-icon">Strict verification process, no false information is allowed<br>
                    <br>
                    <br>
                    <p><b>CONTACT <em data-site="siteName">{{$SiteName}}</em></b></p>
                        Our customer service will always try to act on any inquiry or request immediately upon receipt of your notice. Please do not hesitate to contact us with any questions you may have regarding our site. Please <span goLiveChat @click='goliveChatPage' style='color:#337ab7'>Click Here</span> to contact us. 

                </div>
            </div>
        </div>
  </div>
</body>
</html>